fastapi==0.111.0
uvicorn[standard]==0.30.1
pillow==10.4.0
python-multipart==0.0.9
paho-mqtt==1.6.1

ultralytics
opencv-python
numpy
pandas
joblib
scikit-learn

sqlalchemy
psycopg2-binary

python-jose
passlib
bcrypt

tensorflow